.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.containerprincipal {
  background:linear-gradient(90deg,#de6161,#2657eb);
  background-position: absolute;
  background-repeat: no-repeat;
  height: 100% !important;
  width: 100%  !important  ;
  background-size: cover;
}


.App_Back {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%"  !important;
  height: "100%";
  z-index: -3000;
}


.App-header {
  background-color: yellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*Navbar */
.navbar{
  width: 100%;;
}
.home-section{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction:column;
  top: 0;
  bottom: 0;
}


.btn {
  border : solid 4px #20317d ;
  border-radius: 55px;
}